---
layout: page
permalink: styleguide/
title: Styleguide
visibility: hidden
---
<div class="container stylegd">
<h1>Typografie</h1>
    <div class="row eersterijstylegd">
        <div class="col-xs-12 col-md-6">
            
            <h2>Yanone Kaffeesatz bold</h2>
            <p> Dit lettertype wordt gebruikt voor de titels en staat in 40pt of 66pt</p>

    
            <h2>Rancho regular</h2>
            <p> Dit lettertype wordt gebruikt om bepaalde accenten te leggen </p>

              
            <h2>Dosis regular</h2>
            <p> Dit lettertype wordt gebruikt voor de lopende tekst en staat in 16 pt</p>

         </div>
         
    </div>
    <div class="row tweederijstylegd">
        <div class="col-xs-12 col-md-6">
            <article>
                <h1>Logo</h1>
                <img src="{{ 'assets/images/logo.png' | relative_url }}" class="img-fluid" alt="logo">  
                <a href="{{ 'assets/images/logoalspng300.png' | relative_url }}" class="btn btn-primary oranje witte-tekst "> download png 300dpi </a>
                <a href="{{ 'assets/images/logoalseps.eps' | relative_url }}" class="btn btn-primary oranje witte-tekst "> download eps </a>
                <a href="{{ 'assets/images/logoalspdf.pdf' | relative_url }}" class="btn btn-primary oranje witte-tekst "> download pdf </a>
            </article>
        
        </div>
        <div class="col-xs-12 col-md-6">
            <article>
                <h1>App-icoon</h1>
                <img src="{{ 'assets/images/app-icoon.png' | relative_url }}" class="img-fluid " alt="app-icoon">  
                <a href="{{ 'assets/images/app-icoon-72ppi.png' | relative_url }}" class="btn btn-primary oranje witte-tekst"> download als 72ppi </a>
                <a href="{{ 'assets/images/app-icoon-150ppi.png' | relative_url }}" class="btn btn-primary oranje witte-tekst"> download als 150ppi</a>
                <a href="{{ 'assets/images/app-icoon-300ppi.png' | relative_url }}" class="btn btn-primary oranje witte-tekst"> download als 300ppi </a>
            </article> 
        </div>
    </div>
    <div class="row derderijstylegd">
        <div class="col-xs-12 col-md-6">
            <h1 >Kleuren</h1>
            <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <strong> Primaire kleur </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="groen witte-tekst"> Groen </td>
                        </tr>
                    
                        <tr>
                            <td> HSL </td>
                            <td> 182° 79% 35% </td>
                        </tr>
                        <tr>
                            <td> RGB </td>
                            <td> 19 - 156 - 160</td>
                        </tr>
                        <tr>
                            <td> HEX </td>
                            <td> #139ca0 </td>
                        </tr>
                        <tr>
                            <td> CMYK </td>
                            <td> 97% 0% 42% 0% </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong> Secundaire kleur </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="oranje witte-tekst"> Oranje
                            </td>
                        </tr>
                    
                        <tr>
                            <td> HSL </td>
                            <td> 32° 93% 54% </td>
                        </tr>
                        <tr>
                            <td> RGB </td>
                            <td> 216 - 132 - 41 </td>
                        </tr>
                        <tr>
                            <td> HEX </td>
                            <td> #d88429 </td>
                        </tr>
                        <tr>
                            <td> CMYK </td>
                            <td> 0% 56% 95% 0 %</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong> Secundaire kleur </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="donkerblauw witte-tekst"> Donkerblauw
                            </td>
                        </tr>
                    
                        <tr>
                            <td> HSL </td>
                            <td> 207° 37% 17% </td>
                        </tr>
                        <tr>
                            <td> RGB </td>
                            <td> 29 - 50 - 65 </td>
                        </tr>
                        <tr>
                            <td> HEX </td>
                            <td> #1c2e3d </td>
                        </tr>
                        <tr>
                            <td> CMYK </td>
                            <td> 100% 70% 48% 55% </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong> Secundaire kleur </strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="donkergroen witte-tekst"> Donkergroen
                            </td>
                        </tr>
                    
                        <tr>
                            <td> HSL </td>
                            <td> 184° 100% 17% </td>
                        </tr>
                        <tr>
                            <td> RGB </td>
                            <td> 0 - 80 - 86 </td>
                        </tr>
                        <tr>
                            <td> HEX </td>
                            <td> #005056 </td>
                        </tr>
                        <tr>
                            <td> CMYK </td>
                            <td> 100% 38% 52% 42% </td>
                        </tr>

                    </tbody>
            </table>
        </div>
        
        <div class="col-xs-12 col-md-6">
            <h1>Grafische elementen</h1>
            <!--<a href="https://kbctouch.kbc.be/TCH/A044/resources/0001/nl/app/?amcmid=32539966761146494464534566164612143279#/logon/select" class="nav-item nav-link btn btn-outline-success m-l-1"> sponsor ons project </a>-->
            <a><img src="{{'/assets/images/favicon.png' | relative_url }}" class="logostyle"></a>
            <a href="#" class="btn btn-primary oranje witte-tekst btnstylegd"> button </a>
            <a href="#workout"><button type="button" class="btn btn-default btn-lg buttondown "><span class="fa fa-chevron-down"></span></button></a>
               
        </div>
    </div>
</div>