// Vendors
@import
  '_vendors/bootstrap-custom';

// Components
@import
  '_components/buttons';

// Themes
@import
  '_themes/styleguide';

/* PUT YOUR (S)CSS BELOW THIS LINE 


/* colors*/
$groen:rgba(19,156,160,1);
$donkergroen:#005056;
$oranje:#F7931E;
$wit:#fff;;
$donkerblauw:#1c2d3c;
$lichtblauw:#abd4e7;
$titel: 'Yanone Kaffeesatz', sans-serif;
$tekst: 'Dosis', sans-serif;

.oranje{
  background-color:	$oranje;
}
.donkerblauw{
  background-color:	$donkerblauw;
}

.donkergroen-tekst{
  color:$donkergroen;
}

.donkergroen{
  background-color:$donkergroen;
}

.witte-tekst{
  color: $wit;
}

.groen{
   background-color: $groen;
}

h1, h2, h3, {
  font-family: $titel;
  font-size: 3rem;
}

p, form{ font-family: $tekst;
  }

.frungie {
  font-family: 'Rancho', cursive;
}
/*=======================================================================
========================================================================
HOME*/

.btn:hover, .btn-info:hover, .btn-lg:hover, .btn-default:hover, .btn-primary:hover, .sponsorbox .btn:hover, footer .btn-info:hover, .stylegd .btn-primary:hover, .about .btn:hover{
  opacity:0.7 ;
  background-color: $groen;
  color:$wit;
  cursor: pointer;
  transition: all 0.4s ease-in-out
  }

.btn:active, .btn-info:active, .btn-lg:active, .btn-default:active, .btn-primary:active, .sponsorbox .btn:active, footer .btn-info:active, .stylegd .btn-primary:active, .about .btn:active{
  opacity:0.7 ;
  background-color: $donkerblauw;
  color:$wit;
  cursor: pointer;}

.btn:visited, .btn-info:visited, .btn-lg:visited, .btn-default:visited, .btn-primary:visited, {
  opacity:1 ;
  background-color: $oranje;
  color:$wit;
  cursor: pointer;
  }

.navbarlogo{
  height:30px;
  padding: 0 15px 0 10px;
}

.navbar{
  background-color: $donkerblauw;
}
 nav .btn-outline-success{
  border: 2px solid $groen;
}
  
nav .btn-outline-success:visited, nav .btn-outline-success:hover{
  border:2px solid $groen;
  background-color: $groen;
}

nav .btn-outline-success:active{
  border:2px solid $donkergroen;
  background-color: $donkergroen;
}
    
.eye-catcher{
  margin-top:-30px;
}

.tekstfrungie{
  padding:70px 0 0 0;
  color: $oranje;
}

.tekstfrungie .frungie{
 padding: 130px 60px 0 0;
  font-size: 6rem; 
}

.tekstfrungie h2{
  font-size: 2rem;
  padding: 0 70px 50px 0;
}

.sponsorbox{
  background-color: $wit;
  border: 4px solid $oranje;
  padding: 30px;
  max-width: 400px;
  border-radius: 20px;
}

.sponsorbox .btn{
  background-color: $oranje;
  color: $wit;
}

.display-1 {
  font-size: 5rem;
  font-family: $titel;
  color: $donkergroen;
}

.display-4 {
  font-size: 2rem;
  font-family: $tekst;
  color: $donkergroen;
  padding-bottom: 40px;
}

.buttondown {
  background-color:transparent;
  color: $groen;
  border: 2px solid $groen;
  font-size: 2.5rem;
  padding: 12px;
  border-radius: 40px ;
  width: 75px;
  height: 75px;
  margin-top: 95px;
  transition: all 0.2s ease-in-out;
}

.eersterijhome {
  padding: 50px 0 ;
  margin: 100px 0 400px;
}

.eersterijhome h2{
  padding-bottom:30px;
}

.eersterijhome img{
  margin: 100px 0 0 0;
}

.tweederijhome h2, .vierderijhome h2, .vijfderijhome h2, .achtsterijhome h2{
  padding: 70px 0 30px;
  font-size: 4rem;
}

.tweederijhome article, .vijfderijhome article{
  padding: 0 0 200px 0;
  color: $donkergroen;  
} 

.lijntje{
  width: 200px;
  border-bottom: solid 1.5px $groen;
} 

.derderijhome article, .zevenderijhome article{
  color:$donkergroen;
  margin-top: 70px;
}

.derderijhome .frungie {
  color:$oranje;
  font-size:2.75rem;
  padding-bottom:4px;
}

.derderijhome img{
  height: 310px;
  margin-left: 58px;
}

.derderijhome article{
  margin-bottom: 150px;
}

.vierderijhome, .vijfderijhome {
  margin-top: 200px;
  color: $donkergroen;
}

.vierderijhome h2{
  margin-top: 50px;
}

.vierderijhome article {
  margin-bottom: 100px;
}

.vijfderijhome img, {
  margin-top: 190px;
}

.zesderijhome .lijntje{
  margin-bottom: 250px;
}

 .zevenderijhome article{
  color:$donkergroen;
  margin-top: 70px;  
}

.achtsterijhome{
  margin: 190px 0 150px;
}

.achtsterijhome article{
  margin: 50px 0 70px 0;
  color:$donkergroen;
}

ul#footericons li {
    display:inline;
}
ul#menu2 li {
    display:inline;  
}

.footernav{
  margin-top: 50px;
}

.footer .btn-primary{
  background-color: transparent;
  border: none;
  height: 50px;
}

.footer .btn-info{
  border:none;
  margin: 0 0 60px 40px;
}

.footer{
  margin-top: 20px;
}
 
.footer .mail{
  margin-bottom: 20px;
}

footer{
  background-color: $donkerblauw;
}
.footer .btn{
  box-shadow: none;
}
footer a{
  text-decoration: none;
  color:$wit;
}

footer address a{
  margin-left:15px;
}

.footer a:hover{
  text-decoration: none;
  color:$wit;
  opacity:0.7 ;
}

.footer a:active{
  text-decoration: none;
  color:$oranje;
  opacity:1; 
}
.footer a{
  text-decoration: none;
  color:$wit;
  
}
.footer .btn-info:active{
  color:$wit;
  background-color:$donkergroen;
}

footer .telefoon{
  margin-right:22px;
}

.footercenter{
  margin-left:0;
  margin-right: 0;
  margin: auto;  
  }
  
  
  /*=======================================================================
========================================================================
BLOG*/
.blog .row:nth-child(even) > div:nth-child(1) {
  order: 2;
}

.lijntjeblog {
  position: relative;
  hr {
    position: absolute;
    bottom: -250px;
    left:0;
    right: 0;
    margin: auto;
    width: 200px;
    border:1px solid $groen;
    
  }
} 

.blog .row:first-child {
  margin-top: 100px;
}

.blog .row:last-child {
  margin-bottom: 200px;
}

.blog .row:last-child hr {
  display:none;
}
 
.blog h2{
    color: $oranje;
    font-size: 3.5rem;
}
.blog h3{
    font-size: 2rem;
    font-family: $titel;
}

.eersterijblog{
  margin-top: 500px;
}

.eersterijblog article{
  margin: 40px 0 50px 0;
}
.eersterijblog h3, .eersterijblog .sidebar-box{
  color: $donkergroen;
}
.eersterijblog img{
  padding-left: 0;
}

/* fade out blog=====================================*/
.sidebar-box {
  max-height: 270px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, #fff);
}
/* knopje*/
.sidebar-box .read-more .open {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
  display:block
}
/* fade out blog gedaan =====================================*/
.blog a{
  color:$donkergroen;
  border:$lichtblauw; 
  border-radius: 20px;
  font-size: 1.5em;
  padding: 3px 7px;
}

/*=======================================================================
========================================================================
ABOUT*/

.about h1{
  color: $oranje;
  margin-top: 20px;
}

.about img{
  height: 300px;
}

.about .btn, .contact .btn{
  border:none;
}

.eersterijabout, .tweederijabout{
 margin: 10px 0 200px 0; 
}

.eersterijabout article, .tweederijabout article{
  padding: 80px 0 30px 0;
 }
 
.about .btn-lg{
  margin-bottom: 50px;
}
/*=======================================================================
========================================================================
CONTACT*/

.contact h1{
  color: $oranje;
  margin-top: 100px;
}

.contact label{
  font-size: 1.5rem;
  color: $donkergroen;
}

.form-check-input{
  margin-top: 12px;
  margin-right: 15px;
}
.contact .btn{
  margin-bottom: 150px;
}
/*=======================================================================
========================================================================
STYLEGUIDE*/
.stylegd h1{
  margin-bottom: 30px;
  margin-top: 150px;
  color: $groen;
}

.stylegd h2{
  font-size: 1.5rem;
  color: $oranje;
}

.stylegd .btn-primary {
  border: 1px solid $oranje;
  display:block;
  width: 200px;
}

.stylegd .btn-primary {
  
  margin-top: 10px;
}

.stylegd .btn-primary:hover {
  border:1px solid $groen ; 
}

.stylegd .btn-primary:active {
  border:1px solid $donkerblauw ;
}
.tweederijstylegd img{
  height:200px;
  margin-bottom: 0px;
 
}
.table{
  width:80%;
}
.derderijstylegd table{
  margin-bottom:100px;
}

.btnstylegd{
  margin-top:40px;
}
.stylegd .buttondown{
  margin:30px 0 110px 0;
  
}

/*=======================================================================
========================================================================
========================================================================
SCHERMEN GROTER DAN 880px*/

@media screen and (min-width: 880px) {
/*.HOME================================================================
=======================================================================*/
.tekstfrungie .frungie{
  padding:57px 0 10px 0;
}

.tekstfrungie h2{
  font-size: 2rem;
  padding: 0 60px 50px 0;
}

.buttondown {
  width: 65px;
  height: 65px;
  margin-top: 55px;
  padding:0;
}

.eersterijhome img{
  margin: 0 0 0 50px;
}

.eersterijhome{
  margin-top:200px;
}

.tweederijhome h2, .vierderijhome h2, .vijfderijhome h2, .achtsterijhome h2{
  padding-top: 80px;
}

.tweederijhome article, .vijfderijhome article{
  padding-left:50px;
} 

.lijntje{
  width: 500px;
}

.tweederijhome .lijntje, .zesderijhome .lijntje{
  margin-top: 100px;
  margin-bottom: 200px;
} 

.derderijhome article, .zevenderijhome article{
  margin-top: 50px; 
}

.derderijhome img{
  margin-bottom: 0;
}

.vierderijhome, .vijfderijhome {
  margin-top: 190px;
}

.vierderijhome article {
    margin-bottom: 10px;
}

.vijfderijhome img{
  margin-top: 0;
}

.zevenderijhome article{
  margin-top: 30px;  
}

.achtsterijhome{
  margin-top: 150px;
}

.achtsterijhome article{
  margin: 80px 0 0 0;
  padding-left: 50px; 
}

/* BLOG ==========================================================================
==================================================================================*/

.blog .row:nth-child(even) > div:nth-child(1) > article {
  padding-left: 50px;
}

.blog .row:first-child {
  margin-top: 150px;
}

.lijntjeblog {
  position: relative;
  hr {
    position: absolute;
    bottom: -210px;
    left:0;
    right: 0;
    margin: auto;
    width: 500px;
  }
} 

.classe2903{
  margin-top: -70px;
}

.eersterijblog img{
  padding-left: 20px;
}

.eersterijblog{
  margin-top: 430px;
}

/* ABOUT ===============================================================================
====================================================================================== */
.eersterijabout{
  height: 400px;
  padding-top: 40px;
  margin-bottom: 10px;
}
}


