<footer class=" text-white p-4 mt-4">
    <div class="container">
        <div class="row footer">
             <div class="col-xs-12 col-md-4 text-center">
               <!-- <h3>Social media</h3>-->
                <ul id="footericons">
                    <li><a class="btn btn-primary" href="https://www.facebook.com/"><img src="{{ '/assets/images/facebookicon.png' | relative_url }}" width="30px"></a></li>
                    <li><a class="btn btn-primary" href="https://twitter.com/login?lang=nl"><img src="{{ '/assets/images/twitter-icon.png' | relative_url }}" width="30px"></a></li>
                    <li><a class="btn btn-primary" href="https://www.instagram.com"><img src="{{ '/assets/images/instagram.png' | relative_url }}" width="30px"></a></li>
                </ul>
                <a class="btn btn-info oranje witte-tekst " href="{{ '/styleguide' | relative_url }}"><i class="fa fa-book fa-fw mr-2"></i>Styleguide</a>
            </div>

            <div class="col-xs-12 col-md-4 mail hidden-sm-down">
               <!-- <h3>Contactgegevens</h3>-->
                <address><i class="fa fa-address-card fa-fw"></i>
                    
                    <a href="mailto:eveline.hoffelinck@student.arteveldehs.be">frungie@proximus.be</a>
                </address>
                <address><i class="fa fa-phone telefoon"></i>
                    04 786 02 56
                </address>
                  
            </div>
       
            <div class="col-xs-12 col-md-4 hidden-sm-down">
                <p>&copy; {{ site.title }}</p>
                <a href="{{ '/about-us/' | relative_url }}">
                {% for author in site.authors %}
                <p><i class="fa fa-user fa-fw"></i> {{ author }}</p>
                {% endfor %}
                </a>
            </div>
  
<div class="row derderijhome hidden-md-up footercenter text-center">


<!-- <div class="col-xs-12 col-md-4 mail footercenter">
               <!-- <h3>Contactgegevens</h3>-->
                <div class="col-xs-12 col-md-4 mail">
               <!-- <h3>Contactgegevens</h3>-->
                <address><i class="fa fa-address-card fa-fw"></i>
                    
                    <a href="mailto:eveline.hoffelinck@student.arteveldehs.be">frungie@proximus.be</a>
                </address>
                <address><i class="fa fa-phone telefoon"></i>
                    04 786 02 56
                </address>
                  
            </div>
       
            <div class="col-xs-12 col-md-4">
                <p>&copy; {{ site.title }}</p>
                <a href="{{ '/about-us/' | relative_url }}">
                {% for author in site.authors %}
                <p><i class="fa fa-user fa-fw"></i> {{ author }}</p>
                {% endfor %}
                </a>
            </div>
</div>

 <nav class="col-xs-12 col-md-12 text-center footernav">
            <ul id="menu2" >
                <li> <a href="{{ '/' |relative_url }}">FRUNGIE   l   </a> </li>
                 <li> <a href="{{ '/blog' | relative_url }}">BLOG   l   </a></li>
                  <li> <a href="{{ '/contact' | relative_url }}">CONTACT   l   </a></li>
                 <li> <a href="{{ '/about-us' | relative_url }}">ABOUT   l   </a></li>
                 <li> <a href="{{ '/contact' | relative_url }}"> NIEUWSBRIEF    </a></li>
                </ul> 
 </nav>
        </div>
    </div>
</footer>
