<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse mb-4">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <img src="{{'/assets/images/favicon.png' | relative_url }}" class="navbarlogo img-fluid">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav hidden-md-up text-center">
            {% assign navigation_pages = site.pages %}
            {% for p in navigation_pages %}
                {% if p.title and p.visibility != 'hidden' %}
                <li class="nav-item">
                <a href="{{ p.url | relative_url}}" class="nav-item nav-link{% if p.url == page.url %} active{% endif %} m-l-1">
                    {{ p.title }}
                </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            <ul class="navbar-nav hidden-sm-down mr-auto">
            {% assign navigation_pages = site.pages %}
            {% for p in navigation_pages %}
                {% if p.title and p.visibility != 'hidden' %}
                <li class="nav-item">
                <a href="{{ p.url | relative_url }}" class="nav-item nav-link{% if p.url == page.url %} active{% endif %} m-l-1">
                    {{ p.title }}
                </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                <a href="https://kbctouch.kbc.be/TCH/A044/resources/0001/nl/app/?amcmid=32539966761146494464534566164612143279#/logon/select" class="nav-item nav-link btn btn-outline-success m-l-1">
                    sponsor ons project
                </a>
                </li>
              </ul>
        </div>
    </div>
</nav>