---
layout: page
permalink: /
title: Home
---
<div class="jumbotron eye-catcher img-fluid" style="background-image: url(assets/images/waterproof-blog.jpg); background-size: cover;">
   <div class="container">
    <div class="tekstfrungie text-right">
        <h1 class="display-3  frungie">FRUNGIE</h1>
        <h2 > - Get fit, don't quit ! -</h2>
    </div>
    <div class="row">
    <div class="col-sm-5 push-sm-7 col-md-4 push-md-8">
        <div class="text-center sponsorbox">
             <h1 class="display-1" data-counter-start="123479" data-counter-increment="5"> 0</h1>
                <h2 class="display-4"> euro gesponsord </h2>
                 <a href="https://kbctouch.kbc.be/TCH/A044/resources/0001/nl/app/?amcmid=32539966761146494464534566164612143279#/logon/select" class="btn btn-lg btn-default ">ik wil sponseren !</a>
       <!-- <button type="button" class="btn-lg btn-default"> ik wil sponseren !</button>-->
       
    
         </div>  
    
    </div>
    </div>
    <div class="text-center">
         <a href="#workout"><button type="button" class="btn btn-default buttondown"><span class="fa fa-chevron-down"></span></button></a>
    </div>
    </div>
</div> 
<div class="container home">
<!-- begin row 1 -->
<div class="row eersterijhome groen">
<!-- begin textbox 1.1 -->
    <div class="col-xs-12 col-md-6 witte-tekst">
        <article>
            <h2 id="workout"> Workout, anytime, anyplace </h2>
            <p>Van sportfanaten tot joggers, deze app is voor iedereen bestemd en is bruikbaar waar dan ook. Geen tijd om naar het sportcentrum te gaan? Frungie toont je workouts die je gewoon thuis in je living kan doen! Is de fitness gesloten in je buurt? Frungie toont je waar je kan sporten! Je hoeft het gewoon te vragen! Deze app bespaart je veel tijd en helpt je wanneer dan ook! Frungie is zo geprogrammeerd dat het voelt wanneer je hart een onregelmatig ritme toont en stelt je voor om iemand te bellen. Tips nodig om te koken? Vraag het aan Frungie? Heb je slecht geslapen? Bekijk je slaap analyse die de app automatisch bijhoudt.</p>
            <p>De app is verkrijgbaar op iwatch en Iphone. Met zijn draadloze oplader hoef je tijdens het slapen je watch enkel af te nemen en laad hij op terwijl je slaapt! De watch meet altijd je workout nauwkeurig! En met het nieuwste, helderste scherm, zal je alle metingen nauwkeurig zien, hoe sterk de zon ook schijnt.</p><!-- einde textbox -->
        </article>
    </div>
<!-- begin textbox 1.2 -->
    <div class="col-xs-12 col-md-6">
        <article>
           <img src="{{ '/assets/images/watch.jpg' | relative_url }}" class="img-fluid" alt="smartwatch">  
        </article>
    </div>
</div>
<!-- einde row 1-->


</div> <!--einde container-->
<div class="container">
    <div class="row tweederijhome">
<!-- begin row 2 -->



<!-- begin textbox 2.1 -->
        <div class="col-xs-12 col-md-6">
            <img src="{{ '/assets/images/AppleWatch.png' | relative_url }}" class="img-fluid" alt="afbeelding frungie on watch">     
        </div>

        <!-- begin textbox 2.2 -->
        <div class="col-xs-12 col-md-6 ">
            <article>
                <h2><strong> Frungie on watch</strong> </h2>
                <p> Op de watch zijn er enkele functionaliteiten die de app op de smartphone niet of anders heeft. Het is als eerste heel gemakkelijk om FRUNGIE, je personal coah te gebruiken. Je kan hem alles vragen. Op voorhand kan je al een selectie maken tussen sport of voeding. Als je een andere vraag hebt dan kan dit via de laatste button.</p>
                <p>Verder heeft FRUNGIE ook de functionaliteit je hartslag en stappen te meten. Deze kan je dan bekijken op je watch en je kan ook vergelijken met andere dagen. Ten slotte is er de functie gecombineerd met de app op de iphone. Hij analyseert je slaap en toont de resultaten op de iphone.</p>
            </article>
        </div>
<!-- begin textbox 2.3 -->
        <div class="col-xs-12 col-md-12">
            <article>
                <hr width="500" class="lijntje">
                
            </article>
        </div>
<!-- begin textbox 2.4 -->
        <div class="col-xs-12 hidden-sm-down ">
            <img src="{{ '/assets/images/watches.png' | relative_url }}" class="img-fluid" alt="3 watches">     
        </div>

    </div>

<!-- einde row 2-->

<!-- begin row 3 -->
    <div class="row derderijhome hidden-md-up">


<!-- begin textbox 3.1 -->
        <div class="col-xs-12  ">
            <img src="{{ '/assets/images/watches-stappen-smart.png'| relative_url }}" class="img-fluid" alt="watch 1">     
        </div>
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center"> Stappenteller </h2>
                <p> Iedereen kent wel een stappenteller. We maken het allemaal mee dat we hem op een dag installeren maar daarna nooit meer gebruiken. Dit omdat hij niet accuraat genoeg is, je niet de nodige info geeft enzovoort...</p>
                <p>FRUNGIE is anders. Omdat de stappenteller op de watch zit is hij heel accuraat omdat hij met verschillende factoren rekening houdt, hartslag, transpiratieniveau, bewegingen,.... Al deze kleine dingen maken hem accuraat en hij laat je zijn bevindingen weten. Dit kan via de tips tab bij instellingen op je phone. Of als je op de titel “stappenteller” klikt op je watch.</p>
            </article>
        </div>
   
    <!-- begin textbox 3.2 -->
        <div class="col-xs-12  ">
            <img src="{{ '/assets/images/watches-stappen-frungie.png' | relative_url }}" class="img-fluid" alt="watch 2">     
        </div>
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center frungie"> <strong>FRUNGIE </strong></h2>
                <p> Dit is de coah waar de hele app rond is opgebouwd. Het is een personalcoah die je kan istellen naar eigen behoeftes en helpt je bij allerlei zaken.</p>
                <p>Je kan hem allerlei zaken vragen i.v.m. sport of voeding, je hebt ook de keuze om gewoon willekeurige vragen te stellen.</p>
                <p>Hij meet ook van alle zaken van je lichaam en laat je weten als er iets niet klopt. Als je niet aan het sporten bent zal hij je een melding geven om te vragen of alles wel goed gaat. Hij kan o.a. je temperatuur, hartslag, transpiratie, stress en bloeddruk meten. Ook werkt hij samen met de smarthone om daar ook toepassingen te generenen</p>
            </article>
        </div>
<!-- begin textbox 3.3 -->
        <div class="col-xs-12  ">
            <img src="{{ '/assets/images/watches-stappen-bericht.png' | relative_url }}" class="img-fluid" alt="watch 3">     
         </div>
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center"> Berichten</h2>
                <p> Zoals eerder vermeld zal FRUNGIE jou meldingen geven als er volgens hem iets niet pluis is met jou. Deze berichten worden met een tril en/of geluidsignaal weergeven.</p>
                <p>Daarnaarst zijn er ook nog de zogenaamde “messages” dit zijn berichten om je bezig te houden gedurende de dag. Dit kan zijn in de vorm van “heb je al je workout gedaan?” of “Heb je al je dagelijkse portie fruit gegeten” Kortom elke dag ben je bewust met je lichaam bezig dankzij FRUNGIE. Want met het drukke leven tegenwoordig wordt dat vaak op een laag pitje geplaatsd.</p>
            </article>
        </div>

    </div>
    <div class="row derderijhome hidden-sm-down">


<!-- begin textbox 3.1 -->
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center"> Stappenteller </h2>
                <p> Iedereen kent wel een stappenteller. We maken het allemaal mee dat we hem op een dag installeren maar daarna nooit meer gebruiken. Dit omdat hij niet accuraat genoeg is, je niet de nodige info geeft enzovoort...</p>
                <p>FRUNGIE is anders. Omdat de stappenteller op de watch zit is hij heel accuraat omdat hij met verschillende factoren rekening houdt, hartslag, transpiratieniveau, bewegingen,.... Al deze kleine dingen maken hem accuraat en hij laat je zijn bevindingen weten. Dit kan via de tips tab bij instellingen op je phone. Of als je op de titel “stappenteller” klikt op je watch.</p>
            </article>
        </div>

    <!-- begin textbox 3.2 -->
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center frungie"> <strong>FRUNGIE </strong></h2>
                <p> Dit is de coah waar de hele app rond is opgebouwd. Het is een personalcoah die je kan istellen naar eigen behoeftes en helpt je bij allerlei zaken.</p>
                <p>Je kan hem allerlei zaken vragen i.v.m sport of voeding, je hebt ook de keuze om gewoon willekeurige vragen te stellen.</p>
                <p>Hij meet ook van alle zaken van je lichaam en laat je weten als er iets niet klopt. Als je niet aan het sporten bent zal hij je een melding geven om te vragen of alles wel goed gaat. Hij kan o.a. je temperatuur, hartslag, transpiratie, stress en bloeddruk meten. Ook werkt hij samen met de smarthone om daar ook toepassingen te generenen</p>
            </article>
        </div>
<!-- begin textbox 3.3 -->
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center"> Berichten</h2>
                <p> Zoals eerder vermeld zal FRUNGIE jou meldingen geven als er volgens hem iets niet pluis is met jou. Deze berichten worden met een tril en/of geluidsignaal weergeven.</p>
                <p>Daarnaarst zijn er ook nog de zogenaamde “messages” dit zijn berichten om je bezig te houden gedurende de dag. Dit kan zijn in de vorm van “heb je al je workout gedaan?” of “Heb je al je dagelijkse portie fruit gegeven” Kortom elke dag ben je bewust met je lichaam bezig dankzij FRUNGIE. Want met het drukke leven tegenwoordig wordt dat vaak op een laag pitje geplaatsd.</p>
            </article>
        </div>
    </div>
    
<!-- einde row 3-->

<!-- begin row 4 -->
    <div class="row vierderijhome">
<!-- begin textbox 4.1 -->
        <div class="col-xs-12 col-md-6">
            <article>
                <h2><strong>Chargeabilaty</strong></h2>
                <p>Op het vlak van opladen zijn er vaak problemen bij andere modellen en fabrikanten.  Wij zijn vernieuwers op dat vlak. Wij hebben ervoor gekozen om samen te werken met fabrikanten van watches die draadloos opladen. Zo kunnen al onze functionaliteiten optimaal en altijd gebruikt worden.</p>
                <p> Het is mogelijk om de app te installeren op een niet draadloos opladende watch maar dan moet je meer rekenig houden met de batterijstatus.</p>
                <p> Buiten het draadloos opladen is er ook de mogeljkheid om je watch gewoon op te laden. Dit doe je dan door je watch aan te sluiten aan het oplaadplatform</p>
            </article>
        </div>


<!-- begin textbox 4.2 -->
        <div class="col-xs-12 col-md-6 groen">
            <article>
            <img src="{{ '/assets/images/opladen.png' | relative_url }}" class="img-fluid" alt="opladen">  
            </article>
        </div>
    </div>
<!-- begin row 5 -->
        <div class="row vijfderijhome">
            <!-- begin textbox 5.2 -->
            <div class="col-xs-12 col-md-6">
                <article>
                <img src="{{ '/assets/images/phone.png' | relative_url }}" class="img-fluid" alt="frungie op de smartphone"> 
                </article>
            </div>
        <!-- begin textbox 5.1 -->
            <div class="col-xs-12 col-md-6">
                <article>
                    <h2> <strong>Frungie on smartphone </strong></h2>
                    <p>De smartphone en watch werken harmonieus samen. Natuurlijk zijn er sommige functies die minder gebruiksvriendelijk zijn op de watch waardoor we ze in de app beter toelichten. </p>
                    <p>Het is bijvoorbeeld heel lastig om in te loggen op het kleine schermpje van de watch. Daarom werd de registratie procedure verplaatst naar de smartphone. Eens je een account hebt kan je dit aanklikken op de watch en hoef je dit niet meer te doorlopen.</p>
                    <p>Daarnaast is het ook zo dat de slaapanalyse gemeten wordt met de watch en de resultaten verschijnen op de smartphone ook weer om de gebruiksvriendelijkheid te verhogen. Op de watch is dit eerder een samenvatting en niet zo uitgebreid.</p>
                </article>
            </div>
        </div>
<!-- einde row 5-->

<!-- begin row 5 -->
    <div class="row zesderijhome">
    <!-- begin textbox 5.1 -->
        <div class="col-xs-12 col-md-12">
            <article>
            <hr  class="lijntje">
                </article>
        </div>

    <!-- begin textbox 5.2 -->
        <div class="col-xs-12 col-md-12">
            <article>
            <!-- <img src="/assets/images/phone.png" class="img-responsive" alt="Responsive image">  -->
            <img src="{{ '/assets/images/iphone.png' | relative_url }}" class="img-fluid" alt="3 iphones">
            </article>
        </div>
    </div>

<!-- einde row 5-->
<!-- begin row 6 -->
    <div class="row zevenderijhome">
    <!-- begin textbox 6.1 -->
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center" > Instellingen </h2>
                <p> De instellingen voor de watch en de smartphone kan je hier instellen. Wegens de gebruiksvriendelijkheid zijn er maar een paar instellingen die je kan aanpassen op de watch. Wil je uitgebreider aanpassen zoals jouw profielfoto, weizigingen aan je account,... Dan moet je op de smarthone zijn.</p>
                <p>We overstelpen onze gebruikers niet met onnodige instellingen. Enkel de belangrijkste staan erin. Frungie detecteerd ook je gebruik en op basis daarvan maakt hij ook instellingen. Hij geeft dan een melding of je dit wil doorvoeren, wil je achteraf toch wijzigen dan kan je naar het tips menu gaan.</p>
            </article>
        </div>
        <!-- begin textbox 6.2 -->
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center"> Slaapanalyse </h2>
                <p> Deze functie werkt samen met de watch zoals we eerder vermeld hebben. Het is de bedoeling dat je je watch aanhoudt tijdens het slapen zodat hij verschillende metingen kan doen die jij dat 's ochtends kan bekijken. Je kan ook kijken naar de statistieken van de vorige dagen om te vergelijken.</p>
                <p>Je hoeft je geen zorgen te maken dat de batterij leeg zal lopen tijdens de nacht, het is namelijk zo dat als je binnen een straal van 1m van de oplader blijft, hij draadloos zal opladen. </p>
            </article>
        </div>
    <!-- begin textbox 6.3 -->
        <div class="col-xs-12 col-md-4">
            <article>
                <h2 class="text-center"> Blog </h2>
                <p> Op de blog komen artikels die door jou, andere frungie gebruikers of door de ontwikkelaars geplaatst zijn. Het zijn relevante zaken die je kunnen verder helpen en je tips kunnen geven.</p>
                <p>De artikels worden geordend volgens datum en als je er op klikt krijg je het hele artikel. Hier lees je dan het artikel. Je hebt daar ook nog steeds de mogelijkheid om zelf een post aan te maken. Dit doe je heel eenvoudig via het + icoontje rechtsbovenaan. Je kan dan tekst schrijven en afbeeldingen uploaden.</p>
            </article>
        </div>
    </div>
<!-- einde row 6-->
<!-- begin row 7 -->

    <div class="row achtsterijhome">
    <!-- begin textbox 7.1 -->
        <div class="col-xs-12 col-md-6 groen">
            <img src="{{ '/assets/images/iphone6enband.png' | relative_url}}" class="img-fluid" alt="afbeelding watch en iphone">     
        </div>

        <!-- begin textbox 7.2 -->
        <div class="col-xs-12 col-md-6">
            <article>
                <h2> <strong>Combine the two</strong></h2>
                <p> Zoals we eerder vermeld hebben, hebben we onze app toegankelijk gemaakt zowel voor een smartwatch als een smartphone. Op dit moment is de app enkel toegankelijk voor de apple-gebruikers als deze op de markt komt.</p>
                <p>Je kan de twee apparaten apart gebruiken voor bepaalde elementen, maar de meeste functies zijn verbonden met elkaar op een bepaalde manier. Alles is veel accurater en het is veel gemakkelijker in gebruik als je de twee combineert.</p>
                <p>Het meten van je slaap is daar een voorbeeld van. De metingen gebeuren op de watch en de resulaten kunnen uitgebreid bekeken worden op de smartphone. Ook is de inlogprocedure zo. Je kan de keuze maken om in te loggen via een sociaal netwerk of een frungie account aanmaken. Het aanmaken van dat account gaat enkel op de smartphone omdat dit niet gebruiksvriendelijk is op de watch. Een nadeel is wel dat je een melding krijgt op de watch om je eerst aan te melden op de smartphone maar eens je dat gedaan hebt ben je automatisch ingelogd op beide toestellen en hoef je die procedure niet meer te doorlopen.</p>
            </article>
        </div>
    </div>
</div>