---
layout: page
permalink: blog/
title: Blog
---
<div class="container blog">


{% for post in site.posts %}

    <div class="row eersterijblog lijntjeblog">
    <!-- begin textbox 1.1 -->
        <div class="col-xs-12 col-md-6">
            <article>
                <h2> <strong> {{ post.title }}   </strong></h2>
                <h3> {{ post.date | date: '%A, %d %B %Y' }} </h3>
                <div class="sidebar-box">
                    <div class="blog-content">{{ post.content }}</div>
                    <p class="read-more"><a href="#" class="button"><span class="fa fa-chevron-down"></a></p>
                </div>
        </article>
        </div>

    <!-- begin textbox 1.2 -->
        <div class="col-xs-12 col-md-6">
            <article>
            <img src="{{post.image | relative_url }}" class="img-fluid {{ post.imageclass }} " alt="afbeelding van de post">  
            </article>
        </div>
        <hr>
    </div>
        
{% endfor %}


</div>
