---
layout: page
permalink: about-us/
title: About
---
<div class="container about">
    <!-- begin row 1 -->
    <div class="row eersterijabout  hidden-md-up">


    <!-- begin textbox 1.1 -->
        <div class="col-xs-12 col-md-6 ">
            <article class="text-center">
            <img src="{{ '/assets/images/contact-eveline.png' | relative_url }}" class="img-fluid" alt="afbeelding eveline">  
            </article>
        </div>
        <div class="col-xs-12 col-md-5">
            <article class="text-center">
                <h1>Eveline - 19</h1>
                <p>Hallo! Ik ben Eveline en studeer Grafische en Digitale media aan de Arteveldehogeschool in Gent. Het is een super boeiende opleiding, maar niet altijd even gemakkelijk. Ik ben hier komen studeren omdat mijn grootste interesses vormgeven / tekenen / illustreren,... zijn. Zo kan ik alle dagen creatief bezig zijn en nog van alles bijleren. Mijn grootste talent is realistisch tekenen, ik vind het namelijk heel fijn om mensen te tekenen. Mijn kennis kan ik dan in de lessen gebruiken om de opdrachten te maken. Zoals ik al zei is deze opleiding echt een uitdaging. Je moet blijven doorzetten en niet opgeven. Het is natuurlijk ook handig als de docenten een beetje meeleven met het harde leven van een student(e).</p></article>
        </div>
        <!-- begin textbox 1.2 -->
    </div>
    <div class="row tweederijabout hidden-md-up ">
    <!-- begin textbox 1.3 -->
    <div class="col-xs-12 col-md-5  text-center">
            <article>
            <img src="{{ '/assets/images/yentl2.png' | relative_url }}" class="img-fluid" alt="afbeelding yentl">  
            </article>
        </div>
        <!-- begin textbox 1.4 -->
        <div class="col-xs-12 col-md-6">
            <article class="text-center">
                <h1>Yentl - 20</h1>
                <p>Hallo! Mijn naam is Yentl Longueville. Ik ben twintig lentes jong en studeer Grafische en Digitale media aan de Arteveldehogeschool in Mariakerke te Gent. Mijn keuze voor deze richitng is gebasseerd op het feit dat ik heel graag bezig ben met tekenen en creatieve ideeën omzetten in werkelijkheid. In mijn vrije tijd ga ik sporten, maar kan ik ook wel eens genieten van een terrasje met vrienden en vriendinnen. Ondanks dat deze richting vaak veel tijd opslorpt, doe ik het nog altijd even graag! Ik droomde er altijd van om mijn passie om te zetten tot het uitoefenen van een job, via deze richting zal dat me (hopelijk) wel lukken.</p></article>
        </div>


    </div>
<!-- einde row 1-->

    <div class="row eersterijabout  hidden-sm-down">


    <!-- begin textbox 1.1 -->
        <div class="col-xs-12 col-md-6">
            <article class="text-center">
            <img src="{{ '/assets/images/contact-eveline.png' | relative_url }}" class="img-fluid" alt="afbeelding eveline">  
            </article>
        </div>
        <!-- begin textbox 1.2 -->
        <div class="col-xs-12 col-md-6 text-center">
            <article>
            <img src="{{ '/assets/images/yentl2.png' | relative_url }}" class="img-fluid" alt="afbeelding yentl">  
            </article>
        </div>
    </div>
    <div class="row tweederijabout hidden-sm-down">
    <!-- begin textbox 1.3 -->
        <div class="col-xs-12 col-md-6">
            <article class="text-center">
                <h1>Eveline - 19</h1>
                <p>Hallo! Ik ben Eveline en studeer Grafische en Digitale media aan de Arteveldehogeschool in Gent. Het is een super boeiende opleiding, maar niet altijd even gemakkelijk. Ik ben hier komen studeren omdat mijn grootste interesses vormgeven / tekenen / illustreren,... zijn. Zo kan ik alle dagen creatief bezig zijn en nog van alles bijleren. Mijn grootste talent is realistisch tekenen, ik vind het namelijk heel fijn om mensen te tekenen. Mijn kennis kan ik dan in de lessen gebruiken om de opdrachten te maken. Zoals ik al zei is deze opleiding echt een uitdaging. Je moet blijven doorzetten en niet opgeven.  </p></article>
        </div>
        <!-- begin textbox 1.4 -->
        <div class="col-xs-12 col-md-6">
            <article class="text-center">
                <h1>Yentl - 20</h1>
                <p>Hallo! Mijn naam is Yentl Longueville. Ik ben twintig lentes jong en studeer Grafische en Digitale media aan de Arteveldehogeschool in Mariakerke te Gent. Mijn keuze voor deze richitng is gebasseerd op het feit dat ik heel graag bezig ben met tekenen en creatieve ideeën omzetten in werkelijkheid. In mijn vrije tijd ga ik sporten, maar kan ik ook wel eens genieten van een terrasje met vrienden en vriendinnen. Ondanks dat deze richting vaak veel tijd opslorpt, doe ik het nog altijd even graag! Ik droomde er altijd van om mijn passie om te zetten tot het uitoefenen van een job, via deze richting zal dat me (hopelijk) wel lukken. </p></article>
        </div>


    </div>

    <a href="{{ '/contact' | relative_url }}" class="btn btn-lg oranje witte-tekst">Contacteer ons</a>
</div>