---
layout: page
permalink: contact/
title: Contact
---
<div class="container contact">
    <h1><strong>Contacteer ons</strong></h1>

    <form action="" id="contact-form">
    
        <div class="form-group">
                <label for="example-text-input"><strong>Naam</strong></label>
                <input type="text" class="form-control" id="example-text-input"  placeholder=" Naam Voornaam">   
        </div>
        <div class="form-group">
                <label for="exampleInputEmail1"><strong>Email address</strong></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.org">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    
        <div class="form-group">
            <label for="exampleSelect1"><strong>Selecteer je land</strong></label>
            <select class="form-control" id="exampleSelect1" >
                        <option>België</option>
                        <option>Nederland</option>
                        <option>Duitsland</option>
                        <option>Frankrijk</option>     
            </select>
        </div>
    
        <div class="form-group">
                <label for="exampleTextarea"><strong>Bericht</strong></label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Typ hier je bericht of vraag"></textarea>
        </div>

        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <strong>Ik wil een nieuwsbrief</strong>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <strong>Check me out</strong>
            </label>
        </div>
    <button type="submit" class="btn btn-lg oranje witte-tekst"><i class="fa fa-paper-plane fa-fw mr-2"></i>Submit</button>
    </div>
    </form>
</div>